@model ForumProject.Models.HomePageViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="hero-wrapper">
    <div class="hero-posts rslides rslides1">
        <div id="rslides1_s0" class="with-featured-image hero-post post-76506 post type-post status-publish format-standard has-post-thumbnail hentry category-webdesign tag-animation tag-css rslides1_on" style="display: inline-block; float: left; position: relative; opacity: 1; z-index: 2; transition: opacity 200ms ease-in-out 0s;">

            <div class="site-header-bg-wrap">
                <div class="header-opacity">
                    <div class="header-gradient"></div>
                    <div class="site-header-bg background-effect" style="background-image: url(https://1stwebdesigner.com/wp-content/uploads/2016/10/css-effects.jpg); opacity: 0.1;"></div>
                </div>
            </div>
            <div class="container hero-container" style="">

                <div class="hero-text">
                    <h1 class="entry-title">KSR Forum</h1>
                    <p>This forum was made for our teamwork project defense which we had to make in SoftUni.</p>
                    <div class="hero-date">

                        <a href="https://softuni.bg" target="_blank" title="Posts by  ">
                            <img alt="Softuni" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwuQS3C3QWFrDYSP7Or-2pbNIjZZmX-f4xR7oH26Vb2jCl7Damqw" class="avatar avatar-44 photo" width="44" height="44">
                        </a>

                        <a href="https://softuni.bg" target="_blank">
                            SoftUni
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="jumbotron">
    <h1>KSR FORUM</h1>
    <p class="lead">This forum was made for our teamwork project defence which we had to make in SoftUni.</p>
    <p><a href="https://softuni.bg/" target="_blank" class="btn btn-primary btn-lg">Learn more about SoftUni &raquo;</a></p>
</div>*@

<div class="row">
    <div class="col-md-4">
        <h2>Most recent posts</h2>
        <div>
            @foreach (var post in Model.RecentPosts)
            {
                <div class="recent-post-wrapper">
                    <div>
                        @Html.ActionLink(@post.Topic, "ViewPost", "Post", new { @id = post.PostId }, null)
                    </div>
                    <span class="recentPostAuthor">
                        by @post.Author.UserName on <span class="date">@post.DateCreated</span>
                    </span>
                </div>
                <hr />
            }
        </div>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">See recent &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Last commented posts</h2>
        <div>
            @foreach (var post in Model.LastCommentedPosts)
            {
                <div class="recent-post-wrapper">

                    @Html.ActionLink(@post.Topic, "ViewPost", "Post", new { @id = post.PostId }, null)

                    <div>

                        

                        <div class="date">

                            <span class="recentPostAuthor">
                                by @post.Author.UserName on <span class="date">@post.DateCreated</span>
                            </span>

                        </div>

                    </div>

                    @*<p style="word-wrap: break-word" class="comment-content">
                        @post.Comments.First().GetShortContent()
                    </p>*@

                </div>
                                    <hr />
            }
        </div>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">See viewed &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>About KSR team</h2>
        <p>Our quite friendly team consists of only TWO misguided and despare people who are following their goals and are dreaming towards big things in the future and you know.
        We spent a whole week on this forum and had several things towards which we were aiming for , however, only a few became live today...
        However we follow our motto : <b>Don't count the days, make the days count!</b>
        </p>
        <p> @Html.ActionLink("Learn more", "About")</p>
    </div>
</div>